.toggle {
  display: flex;
  align-items: center;
}

.toggle > p {
  font-size: 0.7em;
}

.toggle__switch {
  width: 3em;
  padding: 0.2em;
  margin: 0 1em 0 0.5em;
  border-radius: 2em;
  cursor: pointer;
  background-color: var(--font);
  transition: all 0.3s ease-in;
}

.toggle__icon {
  width: 1em;
  position: absolute;
}

.toggle__icon--dark {
  transform: translateX(150%);
}

.toggle__knob {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--background);
  transition: all 0.3s ease-in;
}

.toggle__knob--light {
  margin-left: 100%;
  transform: translateX(-100%);
}
